<form method="post" action="{{ url }}" class="signup-form">
	<fieldset>
		<div class="field-container">
			<label for="signup-first-name">First Name</label>
			<input id="signup-name" type="text" placeholder="First Name" />
		</div>
		<div class="field-container">
			<label for="signup-last-name">Last Name</label>
			<input id="signup-last-name" type="text" placeholder="Last Name" />
		</div>
		<div class="field-container">
			<label for="signup-email">Email</label>
			<input id="signup-email" type="email" placeholder="Your email address" />
		</div>
		<div class="field-container">
			<label for="signup-password">Password</label>
			<input id="signup-password" type="password" placeholder="Password" />
		</div>
	</fieldset>
</form>

<a href="{{ link.templates-leaderboard }}" class="btn">Sign Up</a>