<form method="post" action="{{ url }}" class="play-guess-form">
	<fieldset>
		<div class="field-container">
			<label for="play-guess">Guess</label>
			<input id="play-guess" type="tel" min="3" max="18" placeholder="Guess" />
		</div>
</form>

<a href="{{ link.templates-play-actual }}" class="btn">Guess</a>