<form method="post" action="{{ url }}" class="play-actual-form">
	<fieldset>
		<div class="field-container">
			<label for="play-actual-1">Actual 1</label>
			<!--<input id="play-actual-1" type="number" min="1" max="6" placeholder="Elevator 1" />-->
      <select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
      
		</div>
		<div class="field-container">
			<label for="play-actual-2">Actual 2</label>
			<!--<input id="play-actual-2" type="number" min="1" max="6" placeholder="Elevator 2" /> -->
      <select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
		</div>
		<div class="field-container">
			<label for="play-actual-3">Actual 3</label>
			<!--<input id="play-actual-3" type="number" min="1" max="6" placeholder="Elevator 3" /> -->
      <select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
		</div>
</form>

<a href="{{ link.templates-play-result }}" class="btn">Submit</a>