<div class="page" id="page">
  {{> organisms-header }}
	<div role="main">
    
    <h2>Leaderboard</h2>
    
    {{> molecules-scoreboard }}
    
    <a href=" {{ link.templates-play-guess }}" class="btn">Play Now</a>
    
	</div><!--End role=main-->
  {{> organisms-footer }}
</div>