<table class="leaderboard">
	<thead>
		<tr>
			<th class="person">Person</th>
			<th>Score</th>
		</tr>
	</thead>
	<tbody>  
  {{# listItems.ten }}
    {{> molecules-single-score }} 
  {{/ listItems.ten }}
	</tbody>
</table>